<!--<div class="drawer h-full w-1/12 z-10">-->
<!--  <input id="my-drawer" type="checkbox" class="drawer-toggle"/>-->
<!--  <div class="drawer-content">-->
<!--    <label for="my-drawer" class="btn border-transparent h-full bg-base-100 hover:bg-base-500 rounded-none p-0.5 drawer-button">-->
<!--      <ng-icon name="featherChevronRight"></ng-icon>-->
<!--    </label>-->
<!--  </div>-->
<!--  <div class="drawer-side">-->
<!--    <div>Hello</div>-->
<!--  </div>-->
<!--</div>-->

<div class="drawer h-full w-1/12 z-10">
  <input id="my-drawer" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-content flex flex-col items-center justify-center">
    <label for="my-drawer" class="btn border-transparent h-full bg-base-100 hover:bg-base-500 rounded-none p-0.5 drawer-button">
      <ng-icon name="featherChevronRight"></ng-icon>
    </label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="p-4 pt-0 w-80 min-h-full bg-base-300 text-base-content">
      <div class="tabs tabs-boxed bg-base-200 flex-nowrap justify-center">
        <button [ngClass]="{'tab-active': activeTab === 'bookInfo'}" class="btn bg-base-100 p-5" (click)="toggleActiveTab('bookInfo')">
          <ng-icon name="featherFile"></ng-icon>
        </button>

        <button [ngClass]="{'tab-active': activeTab === 'tableOfContents'}" class="btn bg-base-100 p-5" (click)="toggleActiveTab('tableOfContents')">
          <ng-icon name="featherBookmark"></ng-icon>
        </button>

        <button [ngClass]="{'tab-active': activeTab === 'images'}" class="btn bg-base-100 p-5" (click)="toggleActiveTab('images')">
          <ng-icon name="featherImage"></ng-icon>
        </button>
      </div>

      <div class="flex flex-col gap-2 tab-content items-center">
        <ng-container [ngSwitch]="activeTab">
          <ng-container *ngSwitchCase="'bookInfo'">
            <ng-container *ngTemplateOutlet="bookInfo"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'tableOfContents'">
            <ng-container *ngTemplateOutlet="tableOfContents"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'images'">
            <ng-container *ngTemplateOutlet="images"></ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<ng-template #bookInfo>
  <span>{{metadata.description}}</span>
  <img class="image" [src]="coverUrl">
</ng-template>

<ng-template #tableOfContents>
  <button class="btn" *ngFor="let item of toc; let i = index" (click)="navigateToSection(item.href)">{{ item.label }}</button>
</ng-template>

<ng-template #images>
  <img class="image rounded-none" *ngFor="let image of imageUrls" [src]="image">
</ng-template>
