<div class="navbar bg-base-300">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <!-- Menu Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"/>
        </svg>
      </label>
      <ul class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-300 rounded-box">
        <li>
          <a>
            <ng-icon size="1.5rem" name="featherAnchor"></ng-icon>
          </a>
        </li>
        <li>
          <a>
            <ng-icon size="1.5rem" name="featherAnchor"></ng-icon>
          </a>
        </li>
        <li>
          <a>
            <ng-icon size="1.5rem" name="featherAnchor"></ng-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl">Eden</a>
  </div>

  <div class="navbar-end">
    <app-theme-switcher></app-theme-switcher>
    <button class="btn btn-ghost btn-circle">
      <ng-icon size="1rem" name="featherSearch"></ng-icon>
    </button>
    <button class="btn btn-ghost btn-circle">
      <ng-icon size="1rem" name="featherSettings"></ng-icon>
    </button>
  </div>
</div>
